/* ============================= EXTRACT IA FORM ============================= */

.extract-ia-form-container {
  overflow: auto;
}

.extract-ia-form-scrollbar-thin {
  scrollbar-width: thin;
}

.extract-ia-form-scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.extract-ia-form-scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.extract-ia-form-scrollbar-thin::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}

.extract-ia-form-scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
